@use 'sass:map';
@use '@angular/material' as mat;



/* Import fonts form Typekit */
@import url('https://use.typekit.net/qun6uhn.css');


@font-face {
  font-family: 'CocoEng';
  src:
    url('CocoEng/TTF/CocoEng-Regular.ttf') format('truetype'),
    url('CocoEng/OTF/CocoEng-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CocoEng';
  src:
    url('CocoEng/TTF/CocoEng-Bold.ttf') format('truetype'),
    url('CocoEng/OTF/CocoEng-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



/* Configure Angular Material Sizes */
$dsii-font-family-display:     "CocoEng", "Roboto", "Helvetica Neue", "sans-serif";
$dsii-font-family:     "CocoEng", "Roboto", "Helvetica Neue", "sans-serif";

$dsii-typography: mat.m2-define-typography-config(
$font-family:$dsii-font-family,
$headline-1: mat.m2-define-typography-level(112px, 112px, 300,   $dsii-font-family),
$headline-2: mat.m2-define-typography-level(56px, 56px, 400,     $dsii-font-family, 0.014em),
$headline-3: mat.m2-define-typography-level(45px, 48px, 400,     $dsii-font-family),
$headline-4: mat.m2-define-typography-level(34px, 40px, 400,     $dsii-font-family),
$headline-5: mat.m2-define-typography-level(24px, 32px, 400,      $dsii-font-family-display), /*h1*/
$headline-6: mat.m2-define-typography-level(28px,   32px,   400,    $dsii-font-family-display, 0.014em), /*h2*/
$subtitle-1: mat.m2-define-typography-level(16px, 28px, 400,   $dsii-font-family-display),/*h3*/
$body-1: mat.m2-define-typography-level(inherit, 24px, 400,   $dsii-font-family-display),/*h4*/
$subtitle-2: mat.m2-define-typography-level(14px, 24px, 500,   $dsii-font-family),
$body-2: mat.m2-define-typography-level(14px, 20px, 400,   $dsii-font-family),
$caption: mat.m2-define-typography-level(12px, 20px, 400,   $dsii-font-family, 0.021em),
$button: mat.m2-define-typography-level(14px, 14px, 500,   $dsii-font-family, 0.052em),
);



@include mat.all-component-typographies($dsii-typography);
@include mat.core();


$dsii-palette-primary: (
  50: #e6ebf0,
  100: #beccdb,
  200: #94abc2,
  300: #6b8baa,
  400: #aca2a2,
  500: #918d8d,
  600: #767676,
  700: #5e5e5e,
  800: #404040,
  900: #090909,
  A200: #F88EA7,
  A500: #c51b88,
  A900: #8e0044,
  contrast: (
    50:  rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A200: rgba(black, 0.87),
    A700: white,
    A900: white,
  )
);
$dsii-palette-accent: (

  100: #F88EA7,
  200: #F88EA7,
  500: #c51b88,
  700: #c51b88,
  900: #8e0044,
  contrast: (
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    500: white,
    700: white,
    900: white,
  )
);


$dsii-palette-background : (
  50: #EDEFF1,
  100: #D0D8DD,
  200: #AFBEC5,
  300: #8FA4AE,
  400: #78909C,
  500: #607D8B,
  600: #546E7A,
  700: #455A64,
  800: #37474F,
  900: #273237,
  A200: #F88EA7,
  A500: #c51b88,
  A900: #8e0044,
  contrast: (
    50:  rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A200: rgba(black, 0.87),
    A700: white,
    A900: white,
  )
);

$dsii-palette-warn : (
  100: #EFDA65,/*Earning*/
  500: #EFDA65,/*Earning*/
  700: #D53A00,/*Error*/
  800: #7ECE4B, /*Success*/
  900: #9DD6DB,/*Info*/
  contrast: (
    100:  rgba(black, 0.87),
    500:  rgba(black, 0.87),
    700: white,
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  )
);

$dsii-palette-warn-for-material-components : (
  100:#c51b88,
  500:#c51b88,
  700: #8e0044,
  800: #640131,
  900: #470324,
  contrast: (
    100:  white,
    500:  white,
    700: white,
    800: white,
    900: white,
  )
);

$dsii-warn-for-material-components: mat.m2-define-palette($dsii-palette-warn-for-material-components);
$dsii-app-primary: mat.m2-define-palette($dsii-palette-primary);
$dsii-app-accent:  mat.m2-define-palette($dsii-palette-accent);
$dsii-app-warn:    mat.m2-define-palette($dsii-palette-warn);

// $dsii-app-theme: mat.define-light-theme($dsii-app-primary, $dsii-app-accent,$dsii-warn-for-material-components);


$dsii-app-theme: mat.m2-define-light-theme((
 color: (
   primary: $dsii-app-primary,
   accent:  $dsii-app-accent,
   warn: $dsii-warn-for-material-components,
 ),
 typography: $dsii-typography,
 density: 0,
));



@include mat.all-component-themes($dsii-app-theme);

@import "toolkitComponentsTheme.scss";
@include sii-toolkit-components-theme(
  $dsii-app-theme,
  $dsii-palette-primary,
  $dsii-palette-accent,
  $dsii-palette-background,
  $dsii-palette-warn ,
  $dsii-typography ,
  $dsii-font-family,
  $dsii-font-family-display
  );

:root{
  --app-height:100vh;
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-left: env(safe-area-inset-left);
}
html{
  background-color: #090909;
}
html,body {
  margin: 0;
  min-height: 100vh  ;
  -webkit-overflow-scrolling: touch;
  font-family: 'CocoEng', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  }

  body {
    margin: 0 var(--safe-area-inset-right) var(--safe-area-inset-bottom) var(--safe-area-inset-left);
  }

  body.unscrollableBody{
    overflow: hidden;
  }

/*-------------------scroller style---------------------*/

:not(.defaultScrollbar)::-webkit-scrollbar,
  :not(.defaultScrollbar)::-webkit-scrollbar:horizontal{
    width: 8px;
    height: 8px;
  }

  /* Track */
  :not(.defaultScrollbar)::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    margin: 3px 0;
  }

  :not(.defaultScrollbar)::-webkit-scrollbar-track:horizontal{
    box-shadow: inset 0 0 5px grey;
    margin: 0 3px ;
  }

  /* Handle */
  :not(.defaultScrollbar)::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }

  /* Handle on hover */
  :not(.defaultScrollbar)::-webkit-scrollbar-thumb:hover {
    background: #232323;
  }

   /* Buttons */
   :not(.defaultScrollbar)::-webkit-scrollbar-button:single-button {
    background-color: white;
    display: block;
    border-style: solid;
    height: 8px;
    width: 8px;
  }
  /* Up */
  :not(.defaultScrollbar)::-webkit-scrollbar-button:single-button:vertical:decrement     {
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent gray  transparent;
  }
  :not(.defaultScrollbar)::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #232323 transparent;
  }

  :not(.defaultScrollbar)::-webkit-scrollbar-button:single-button {
    background-color: transparent;
  }

  /* Down */
  :not(.defaultScrollbar)::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 4px 4px 0 4px;
    border-color: gray transparent transparent transparent;
  }
  :not(.defaultScrollbar)::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #232323 transparent transparent transparent;
  }

  /* Left */
  :not(.defaultScrollbar)::-webkit-scrollbar-button:single-button:horizontal:decrement     {
    border-width: 4px 4px 4px 0;
    border-color: transparent  gray transparent transparent;
  }
  :not(.defaultScrollbar)::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    border-color: transparent #232323 transparent  transparent;
  }

  /* Right */
  :not(.defaultScrollbar)::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 4px 0 4px 4px ;
    border-color:  transparent transparent transparent gray;
  }
  :not(.defaultScrollbar)::-webkit-scrollbar-button:horizontal:single-button:increment:hover {
    border-color:  transparent transparent transparent #232323;
  }
  /* -------------fine------scroller style---------------------*/


/*materials-component-theme*/
mat-option{
  .mdc-list-item__primary-text{
     display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}


.sii_content{
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .sii_content{
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .sii_content{
    width: 720px;
  }

}
@media screen and (min-width: 992px) {
  .sii_content{
    width:960px;
  }
}

@media screen and (min-width: 1200px) {
  .sii_content{
    width: 1140px;
  }
}

@media screen and (min-width: 1440px) {
  .sii_content{
    width: 1320px;
  }
}

@media screen and (min-width: 1600px) {
  .sii_content{
    width: 1450px;
  }
 }
@media screen and (min-width: 1920px) {
  .sii_content{
    width: 1610px;
  }
 }
